.profile-up {
     padding: 2.5em 4em !important;
     margin: 1em 15em !important;
     position: relative;
}

.profile-down {
     margin: 1em 15em 10em 15em !important;
}
.user-success{
   margin-left: 20px;
   margin-top: 10px;
    height:40px; 
    width:40px;

    position: fixed;

  border-radius: 50%;
}

.profile-img {
     height: 200px;
     width: 200px;
     border-radius: 10%;
     margin-right: 8rem;   
     cursor: pointer;
}

.profile-content, .profile-content input {
     font-size: 1.1em;
     font-family: Verdana;
     letter-spacing: 1.2px;
}


.profile-content .span {
     font-weight: 550;
}

.profile-content .full-name {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: .2em;
}

.edit {
  margin-top: 15px;	
	margin-right: 15px;
	position: absolute;
	right: 0;
  top: 0;
}

.flag {
  margin-top: 15px;	
	margin-right: 50px;
	position: absolute;
	right: 0;
	top: 0;
}

.update-btn {
  margin-top: 15px;	
	margin-right: 15px;
	position: absolute;
	right: 0;
  top: 0;
  padding: 5px;
  font-size: 15px;
  border-radius: 4px;
}

.cancel-btn {
  margin-top: 15px;	
	margin-right: 90px;
	position: absolute;
	right: 0;
  top: 0;
  padding: 5px;
  font-size: 15px;
  border-radius: 4px;
}

input {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2px 4px;
}

/* Tabs */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.display-section {
  margin: 20px;
  padding: 10px 10px 0px 10px;
  border-top: 1px solid #B5B5B5;
  width: 70%;
}

.table-row {
  padding-left: 10px;
}

.subtitle {
  color: gray;
  font-size: 13px;
}

.tag-btn {
  padding: 3px;
  font-size: 13px;
  border-radius: 4px;
}