<header id="header" class="horizontal-header">
<!-- start header nav-->                   
    <ul>
          <li>
               <p><a href="index.html" ><img src="http://localhost/stackoverflowlite/app/assets/images/logo.webp" alt="Stackoverflow" class="image-logo" ></a> </p>
          </li>
          <li>
               <input type="text" name="Search" placeholder="Explore Questions" class="search"/>
          </li>
          <li>
               <button class="login-btn">Login</button>
          </li>
          <li>
               <button class="login-btn">SignUp</button>
          </li>
    </ul>
 </header>