


<html>
     <head>
          <link rel="icon"  href="http://localhost/stackoverflowlite/app/assets/images/icon.png">
          <title>Stackoverflow Lite</title>
          <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
          <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
          
          <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script> 
          <script src="http://localhost/stackoverflowlite/app/angularjs/route.js"></script>
          <script src="http://localhost/stackoverflowlite/app/angularjs/profileCtrl.js"></script>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="http://localhost/stackoverflowlite/app/assets/css/profile.css">
          <link rel="stylesheet" href="http://localhost/stackoverflowlite/app/assets/css/home.css">
     </head>
     <body ng-app="routeApp">
          <header id="header" class="horizontal-header">
          <!-- start header nav-->                   
               <ul>
                    <li>
                         <p><a href="index.html" ><img src="http://localhost/stackoverflowlite/app/assets/images/logo.webp" alt="Stackoverflow" class="image-logo" ></a> </p>
                    </li>
                    <li>
                         <input type="text" name="Search" placeholder="Explore Questions" class="search"/>
                    </li>
                    <li>
                         <button class="login-btn">Login</button>
                    </li>
                    <li>
                         <button class="login-btn">SignUp</button>
                    </li>
               </ul>
               </header>

               <div ui-view>

               </div>

               <div class="mdc-card my-card" style="float: right;">
               <div>
                    <h2>Tags</h2>
                    <div class="mdc-chip-set" role="grid">
                    <div class="mdc-chip" role="row">
                         <div class="mdc-chip__ripple"></div>
                         <span role="gridcell">
                         <span role="button" tabindex="0" class="mdc-chip__text">Chip One</span>
                         </span>
                    </div>
                    <div class="mdc-chip" role="row">
                         <div class="mdc-chip__ripple"></div>
                         <span role="gridcell">
                         <span role="button" tabindex="-1" class="mdc-chip__text">Chip Two</span>
                         </span>
                    </div>
                    <div class="mdc-chip" role="row">
                         <div class="mdc-chip__ripple"></div>
                         <span role="gridcell">
                         <span role="button" tabindex="0" class="mdc-chip__text">Chip One</span>
                         </span>
                    </div>
                    <div class="mdc-chip" role="row">
                         <div class="mdc-chip__ripple"></div>
                         <span role="gridcell">
                         <span role="button" tabindex="-1" class="mdc-chip__text">Chip Two</span>
                         </span>
                    </div>
                    <div class="mdc-chip" role="row">
                         <div class="mdc-chip__ripple"></div>
                         <span role="gridcell">
                         <span role="button" tabindex="0" class="mdc-chip__text">Chip One</span>
                         </span>
                    </div>
                    <div class="mdc-chip" role="row">
                         <div class="mdc-chip__ripple"></div>
                         <span role="gridcell">
                         <span role="button" tabindex="-1" class="mdc-chip__text">Chip Two</span>
                         </span>
                    </div>
                    <div class="mdc-chip" role="row">
                         <div class="mdc-chip__ripple"></div>
                         <span role="gridcell">
                         <span role="button" tabindex="0" class="mdc-chip__text">Chip One</span>
                         </span>
                    </div>
                    <div class="mdc-chip" role="row">
                         <div class="mdc-chip__ripple"></div>
                         <span role="gridcell">
                         <span role="button" tabindex="-1" class="mdc-chip__text">Chip Two</span>
                         </span>
                    </div>
                    <div class="mdc-chip" role="row">
                         <div class="mdc-chip__ripple"></div>
                         <span role="gridcell">
                         <span role="button" tabindex="0" class="mdc-chip__text">Chip One</span>
                         </span>
                    </div>
                    <div class="mdc-chip" role="row">
                         <div class="mdc-chip__ripple"></div>
                         <span role="gridcell">
                         <span role="button" tabindex="-1" class="mdc-chip__text">Chip Two</span>
                         </span>
                    </div>
                    </div>
                    <div style="padding-top: 5px;"><a href="#" style="float: right; text-decoration: none;">View More...</a></div>
               </div>
               <div class="sort">
                    <h2>Filter Questions</h2>
                    <div>
                    <select class="dropdown dropbtn">
                         <option value="time">Recently Added</option>
                         <option value="votes">Most Votes</option>
                         <option value="views">Most Viewed</option>
                    </select>
                    </div>
               </div>
               </div>

               <footer class="footer">
               <div style="float: right; margin-right: 20px">Copyright &copy 2020 | All rights reserved</div>
          </footer>
     </body>
</html>  