<div ng-controller="profileCtrl">
     <div class="mdc-card profile-up" ng-init="item = 0">
          <div ng-show="item == 0">
               <span ng-if="!validUser">
                    <i class="material-icons md-24 flag" ng-style="reportObj" ng-click="reportUser(user.userId)">flag</i>
               </span>
               <span ng-if="validUser">
                    <i class="material-icons md-24 edit" ng-click="item = 1">edit</i> 
               </span>
          </div>
          <div ng-show="item == 1" ng-click="item = 0">
               <button class="cancel-btn">Cancel</button>
               <button class="update-btn" ng-click="updateUser()" ng-disabled="formValidate.$invalid || isvalid" id="update">Update</button>
          </div>
          <table>
               <tr>
                    <td><img src="http://localhost/stackoverflowlite/app/assets/images/default.png" class="profile-img"></td>
                    <td class="profile-content" ng-show="item == 0">
                         <div class="full-name">{{ user.fullName }}</div>
                         <div><span class="span">Username:</span> {{ user.userName }}</div>
                         <div><span class="span">EmailID:</span> {{ user.email }}</div>
                         <div><span class="span">Company:</span> <span ng-if="user.company">{{ user.company }}</span> <span ng-if="!user.company"> Add your company name </span></div>
                         <div><span class="span">Designation:</span> <span ng-if="user.designation">{{ user.designation }}</span> <span ng-if="!user.designation"> Add your designation </span></div>
                    </td>
                    <td class="profile-content" ng-show="item == 1">
                         <form name="formValidate">
                              <input type="text" name="fullName" ng-model="user.fullName" ng-minlength="5" required><br>
                              <p ng-show="formValidate.fullName.$error.required" style="color: red;"> Name is required. </p>
                              <p ng-show="formValidate.fullName.$error.minlength" style="color: red;"> Name is too short. </p><br>

                              <span class="span">Username:</span> <input type="text" value="{{ user.userName }}" name="userName" id="userName" ng-model="user.userName" required ng-minlength="5" ng-blur="checkUsername()"><br>
                              <p ng-show="formValidate.userName.$error.required" style="color: red;"> Name is required. </p>
                              <p ng-show="formValidate.userName.$error.minlength" style="color: red;"> Name is too short. </p>
                              <p ng-show="isvalid" style="color: red;"> Name is already in use. </p><br>

                              <span class="span">EmailID:</span> {{ user.email }}<br><br>

                              <span class="span">Company:</span> <input type="text" value="{{ user.company }}" name="company" ng-model="user.company" ng-minlength="5"><br>
                              <p ng-show="formValidate.company.$error.minlength" style="color: red;"> Name is too short. </p><br>

                              <span class="span">Designation:</span> <input type="text" value="{{ user.designation }}" name="designation" ng-model="user.designation" ng-minlength="5"> <br>
                              <p ng-show="formValidate.designation.$error.minlength" style="color: red;"> Name is too short. </p><br>
                         </form>
                    </td>
               </tr>
          </table>
     </div>

     <div class="profile-down">
          <!-- Tab links -->
          <div class="tab">
               <button class="tablinks active" onclick="openTab(event, 'Ques')" id="defaultOpen">Questions</button>
               <button class="tablinks" onclick="openTab(event, 'Ans')">Answers</button>
               <button class="tablinks" onclick="openTab(event, 'Comment')">Comments</button>
             </div>
             
             <div id="Ques" class="tabcontent" style="display: block;">
               <h3>Questions</h3>
               <div ng-if="!ques_length">
                    You have not asked any question yet!!
               </div>
               <div ng-repeat="q in ques" class="display-section">
                    <table width="100%">
                         <tr>
                              <td class="table-row" rowspan="2" style="text-align: center;">
                                  {{ q.vote_cnt }}
                                  <p class="subtitle">Votes</p> 
                              </td>
                              <td class="table-row" rowspan="2" style="text-align: center;">
                                   {{ q.ans_cnt }}
                                   <p class="subtitle">Answers</p> 
                              </td>
                              <td class="table-row" rowspan="2" style="text-align: center;">
                                   {{ q.views }}
                                   <p class="subtitle">Views</p> 
                              </td>
                              <td class="table-row" width="60%"><a href="#" style="text-decoration: none;">{{ q.title }}</a></td>
                              <td rowspan="2">
                                   {{ q.updatedTime | timeago }}
                              </td>
                         </tr>
                         <tr>
                              <td class="table-row">
                                    <span ng-repeat="t in q.tags"> <button class="tag-btn" ng-click="">{{t.tagName}} </button></span>
                              </td>
                         </tr>
                    </table> 
               </div>
             </div>
             
             <div id="Ans" class="tabcontent">
               <h3>Answers</h3>
               <div ng-if="!ans_length">
                    You have not answered any question yet!!
               </div>
               <div ng-repeat="a in ans" class="display-section">
                    <table width="100%">
                         <tr>
                              <td  rowspan="2" class="table-row" style="text-align: center;">
                                  {{ a.vote_cnt }}
                                  <p class="subtitle">Votes</p> 
                              </td>
                              <td class="table-row" width="70%">{{ a.answer }}</td>
                              <td rowspan="2">
                                   {{ a.updatedTime | timeago }}
                              </td>
                         </tr>
                         <tr>
                              <td class="table-row"><a href="#" style="text-decoration: none;">{{ a.ques }}</a></td>
                         </tr>
                    </table> 
               </div>
             </div>
             
             <div id="Comment" class="tabcontent">
               <h3>Comments</h3>
               <div ng-if="!comment_length">
                    You have not commented on any question OR answer yet!!
               </div>
               <div ng-repeat="c in comment" class="display-section">
                    <table width="100%">
                         <tr>
                              <td  rowspan="2" class="table-row subtitle" style="text-align: center;"width="10%">
                                   {{ c.type }}
                              </td>
                              <td class="table-row" width="75%">{{ c.description }}</td>
                              <td rowspan="2">
                                   {{ c.updatedTime | timeago }}
                              </td>
                         </tr>
                         <tr>
                              <td class="table-row"><a href="#" style="text-decoration: none;">{{ c.title }}</a></td>
                         </tr>
                    </table> 
               </div>
             </div>
     </div>
</div>


