<!-- <div ng-controller="quesCtrl">
      <div ng-repeat="c in content" class="divrepeat" >

      <div class="div1">Votes:{{c.v}}</div>
      <div class="div2">Views:{{ c.views }}</div>
      <div class="div3" style="position:sticky;">
        <div class="mdl-card" style="width:100%;">
        <div class="mdl-card__title">
          <a class="link1" ng-click="incviews(c.qId)" ui-sref="quesdetail({ qid: c.qId })">{{ c.title }}</a>
        </div>
        <div class="mdl-card__media">
        </div>
        <div class="mdl-card__supporting-text">
        <span ng-repeat="t in c.Tagname.split(',')" ><a class="link2" ui-sref="tag({ tname: t })" >{{ t }} </a>&emsp;</span>
        <div class="time">{{c.updatedTime}}<br>{{c.fullName}}</div>
        </div>
      </div>
    </div>
    <div style='clear:both;'></div>
    </div>
</div>
 -->
<div class="qtitle Quesheading">
     <b style="padding-left: 20px;/*! padding-top: 20rem; */">Questions List</b>

    <div class="pos" style="margin-right: 25rem; margin-top: 1rem;">
        <button class="mdc-button--outlined askBtn" onClick="postQuestion()" >Ask Question</button>
      </div>
    </div>
      </div>
<div ng-repeat="c in content" class="qustion-section" style="width: 70%;">
        <table width="100%">
           <tr>
                <td class="table-row" rowspan="2" style="text-align: center;">
                    {{ c.v }}
                    <p class="subtitle">Votes</p>
                </td>
                <td class="table-row" rowspan="2" style="text-align: center;">
                     <!-- {{ q.ans_cnt }} -->0
                     <p class="subtitle">Answers</p>
                </td>
                <td class="table-row" rowspan="2" style="text-align: center;">
                     {{ c.views }}
                     <p class="subtitle">Views</p>
                </td>
                <td class="table-row" width="60%"><a href="#" ng-click="incviews(c.qId)" ui-sref="QuesView({ qid: c.qId })" style="text-decoration: none;">{{ c.title }}</a></td>
                <td rowspan="2">
                     {{ c.updatedTime | timeago }}
                </td>
           </tr>
           <tr>
                <td class="table-row">
                      <a ui-sref="tag({ tname: t })" style="text-decoration: none;"><span ng-repeat="t in c.Tagname.split(',')"> <button class="mdc-button--outlined " style="padding: 7px !important;   border-radius: 25px !important; margin-top: 9px !important; margin-right: 10px !important; border:none !important;" ng-click=''>{{ t }} </button></span></a>
                </td>
           </tr>
      </table>
 </div>
 <div sidebar></div>
